[Unit]
Description=static-web-server Quadlet
Wants=network.target

[Container]
AutoUpdate=registry
Image=docker.io/digitalocean/do-agent:stable
Volume=/sys:/host/sys:ro
Volume=/proc:/host/proc:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
