[Unit]
Description=gotosocial quadlet
Wants=network.target

[Container]
Network=traefik.network
Image=docker.io/superseriousbusiness/gotosocial:latest
Volume=gts.volume:/storage
Environment="GTS_LETSENCRYPT_ENABLED=false"
Environment="GTS_HOST=social.ptnote.dev"
Environment="GTS_ACCOUNT_DOMAIN=ptnote.dev"
Environment="GTS_DB_TYPE=sqlite"
Environment="GTS_DB_ADDRESS=/storage/sqlite.db"
Environment="GTS_STORAGE_BACKEND=local"
Environment="GTS_STORAGE_LOCAL_BASE_PATH=/storage/media_storage"
Environment="GTS_WAZERO_COMPILATION_CACHE=/storage/wazero_cache"
Environment="GTS_TRUSTED_PROXIES=10.89.0.7/32"
Environment="GTS_LANDING_PAGE_USER=thoth"
Environment="TZ=America/New_York"
Label="traefik.enable=true"
Label="traefik.http.routers.gts.entryPoints=https"
Label="traefik.http.routers.gts.rule=Host(`social.ptnote.dev`)"
Label="traefik.http.routers.gts.tls=true"
Label="traefik.http.routers.gts.tls.certResolver=lets-encrypt"
Label="traefik.http.services.gts.loadbalancer.server.port=8080"

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
