[Unit]
Description=static-web-server Quadlet
Wants=network.target

[Container]
AutoUpdate=registry
Network=traefik.network
Image=ghcr.io/static-web-server/static-web-server:2
Volume=%h/public:/public:z
Environment="SERVER_ROOT=/public"
Environment="SERVER_LOG_LEVEL=info"
Environment="SERVER_LOG_X_REAL_IP=true"
Environment="SERVER_LOG_FORWARDED_FOR=true"
Environment="SERVER_PORT=8080"
Label="traefik.enable=true"
Label="traefik.http.routers.sws.entryPoints=https"
Label="traefik.http.routers.sws.rule=Host(`ptnote.dev`) || Host(`www.ptnote.dev`)"
Label="traefik.http.routers.sws.tls=true"
Label="traefik.http.routers.sws.tls.certResolver=lets-encrypt"
Label="traefik.http.services.sws.loadbalancer.server.port=8080"
Label="traefik.http.middlewares.gts-redir.redirectregex.permanent=true"
Label="traefik.http.middlewares.gts-redir.redirectregex.regex=^https://(.*)/.well-known/(webfinger|nodeinfo|host-meta)(\\?.*)?$"
Label="traefik.http.middlewares.gts-redir.redirectregex.replacement=https://social.$${1}/.well-known/$${2}$${3}"
Label="traefik.http.routers.sws.middlewares=gts-redir@docker"

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
