[Unit]
Description=Traefik quadlet
Wants=podman.socket

[Container]
Image=docker.io/traefik:v3.3
Exec= --api.insecure=true --api.dashboard=true --providers.docker=true \
      --providers.docker.exposedbydefault=false \
      --accesslog=true \
      --entryPoints.http \
      --entrypoints.http.http.redirections.entryPoint.to=https \
      --entrypoints.http.http.redirections.entryPoint.scheme=https \
      --entryPoints.https \
      --certificatesresolvers.lets-encrypt.acme.email="jjbarr@ptnote.dev" \
      --certificatesresolvers.lets-encrypt.acme.storage=acme.json \
      --certificatesresolvers.lets-encrypt.acme.tlschallenge=true 
SecurityLabelDisable=true
AutoUpdate=registry
PublishPort=8080:8080
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
Volume=%h/acme.json:/acme.json
Notify=true
Network=traefik.network
IP=10.89.0.7

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target